<a href="https://colab.research.google.com/github/mohithkummara/java-project/blob/main/python_functons_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.	Write a function wish(name) that returns "Hello, Good Morning <name>!".
def wish(name):
  print(f"Hello,Good Morning {name}",end = "!")
wish("karthik")

Hello,Good Morning karthik!

In [ ]:
#2.	Write a function cube(n) that returns the cube of a number (n³).
def cube(n):
  n = n**3
  return n
cube(3)

27

In [ ]:
#3.	Write a function check_even(n) that returns True if the number is even, else False.
def check_even(n):
  if n%2 == 0:
    print(True)
  else:
    print(False)
check_even(12)

True

In [ ]:
#4.	Write a function greatest_of_two(a, b) that returns the larger of two numbers.
def greatest_of_two(a,b):
  if a>b:
    return a
  else:
    return b
greatest_of_two(76,4)

76

In [ ]:
#5.	Write a function count_letters(s) that returns the number of characters in a string.
def count_letters(s):
  count = 0
  for i in s:
    count += 1
  return count
count_letters("karthik")

7

In [ ]:
#6.	Write a function power(value, exp=2) that returns the number raised to the power exp. (Default exponent = 2)
def power(value,exp = 2):
  return value**exp
power(5)

25

In [14]:
#7.	Write a function swap(a, b) that returns the two values swapped as a tuple.
def swap(a,b):
  a,b = b,a
  return a,b
swap(1,2)

(2, 1)

In [ ]:
#8.	Write a function add_sub(a, b) that returns both sum and difference of two numbers.
sum = 0
sub = 0
def add_sub(a,b):
  sum = a+b
  sub = a-b
  return sum,sub
print(add_sub(5,2))

(7, 3)

In [ ]:
#9.	Write a function circle_stats(radius) that returns the area and circumference as a tuple.
area = 0
circumference = 0
def circle_stats(radius):
  area = 3.14*radius**2
  circumference = 2*3.14*radius
  return area,circumference
circle_stats(5)

(78.5, 31.400000000000002)

In [ ]:
#10.	Write a function min_max_sum(nums) that returns the minimum, maximum, and sum of a list.
def min_max_sum(nums):
  min = max = nums[0]
  sum = 0
  for i in nums:
    sum = sum+i
    if i<min:
      min = i
    elif i>max:
      max = i
  return min,max,sum
print(min_max_sum([8,2,3,4,5,6]))

(2, 8, 28)

In [ ]:
#11.	Write a function concat(*parts) that joins multiple strings together with spaces.
concat("karthik","reddy")
def concat(*parts):
  for i in parts:
    print(i,end = " ")
  return parts

karthik reddy

In [ ]:
#12.	Write a function format_name(first, last="") that returns "Last, First" if last name is provided, else "First".
def format_name(first,last=""):
  if last=="":
    print(first)
  else:
    print(last,first)
format_name("karthik","vudumula")

vudumula karthik

In [ ]:
#13.	Write a function greet_user(first, last) that returns a message like "Welcome, First Last!".
def greet_user(first,last):
  print(f"welcome, {first} {last}",end = "!")
greet_user("karthik","vudumula")

welcome, karthik vudumula!

In [ ]:
#14.	Write a lambda function to add two numbers.
add = lambda a, b: a + b
print(add(5, 3))

8

In [ ]:
#15.	Write a lambda function mult = lambda *args: that returns the product of all arguments.
mul = lambda *args:1 if not args else args[0] * mul(*args[1:])
print(mul(3,2))

6

In [16]:
#16.Write a one-line lambda expression to flatten a list of pairs like [(a,b), (c,d)] into [a, b, c, d].
flatten=lambda pairs: [item for pair in pairs for item in pairs]

[('a', 'b'), ('c', 'd'), ('a', 'b'), ('c', 'd')]

In [ ]:
#
flatten_list = lambda list_of_pairs:[item for pair in list_of_pairs for item in pair]
data = [(1,2),(4,5),(3,6),(7,8)]
print(flatten_list(data))

[1, 2, 4, 5, 3, 6, 7, 8]

In [ ]:
#
list_1 = [1,2,3,4,5]
square = [x**2 for x in list_1]
print(square)

[1, 4, 9, 16, 25]

In [ ]:
#
letters = ['a','b','c']
upper_letters = [letters.upper() for letters in letters]
print(upper_letters)

['A', 'B', 'C']

In [ ]:
#
even_numbers = [i for i in range (1,20) if i%2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#
words = ['apple','bee','cat']
count_of_word = [(i, len(i)) for i in words]
print(count_of_word)

[('apple', 5), ('bee', 3), ('cat', 3)]

In [ ]:
#
nested_list = [[1,2],[3,4],[4,5]]
flattened_list = [num for sublist in nested_list for num in sublist]
print(flattened_list)

[1, 2, 3, 4, 4, 5]

In [ ]:
#
nums = [0,1,2,3]
even_odd = ['even' if  num % 2 == 0 else 'odd' for num in nums]
print(even_odd)

['even', 'odd', 'even', 'odd']

In [ ]:
#
divisible_by_2_and_3 = [i for i in range(1,50) if i%2==0 and i%3==0]
print(divisible_by_2_and_3)

[6, 12, 18, 24, 30, 36, 42, 48]

In [ ]:
#17.Write a recursive function factorial(n) that returns the factorial of a number.
def recursive_factorial(n):
  if n == 0 or n == 1:
    return n
  else:
    return n*recursive_factorial(n-1)
recursive_factorial(3)

6

In [ ]:
#18.Write a function apply_twice(func, x) that applies a function twice → func(func(x)).
def apply_twice(func, x):
    return func(func(x))
def square(n):
    return n * n
apply_twice(square, 2)

In [ ]:
#19.Write a function inner_demo() that defines and calls an inner function inside it.
def inner_demo():
  def inner():
    print("inner function")
  inner()
inner_demo()

inner function

In [ ]:
#20.Write a function call_function(func, value) that takes another function as a parameter and applies it.
def call_function(func,value):
  def add(n):
    return n+n
  return func(func(value))
call_function(add,2)

8

In [ ]:
#21.Write a function square_list(nums) that defines a helper function square(x) inside it and returns a list of squares.
def square_list(nums):
    def square(x):
        return x * x
    return [square(num) for num in nums]
square_list([1,2,3])

[1, 4, 9]

In [ ]:
#22.Write a function make_multiplier(m) that returns a new function which multiplies input values by m.
def make_multiplier_of(n):
    def multiplier(x):
        c = x * n
        return c
    return multiplier
multiply_by_3 = make_multiplier_of(3)
multiply_by_3(5)

15

In [ ]:
#23.Write a function filter_primes(nums) that filters prime numbers using a helper is_prime() function.
def filter_primes(nums):
    def is_prime(n):
        if n < 2:
            return False
        for i in range(2, int(n ** 0.5) + 1):
            if n % i == 0:
                return False
        return True
    return [n for n in nums if is_prime(n)]
filter_primes([2,3,4,5,6,7,8,9,10])

[2, 3, 5, 7]

In [7]:
#24.Write a function convert_to_fahrenheit(celsius_list) using map and a lambda.Formula: F = C * 9/5 + 32
def convert_to_fahrenheit(celsius_list):
    formula = list(map(lambda c:c*9/5 +32,celsius_list))
    return formula
print(convert_to_fahrenheit([10,20,30]))

[50.0, 68.0, 86.0]

In [5]:
#25.Write a function apply_if(func, predicate, iterable) that applies a function only to items that pass a condition.
def apply_if(func, predicate, iterable):
    return [func(x) if predicate(x) else x for x in iterable]
def is_even(n):
    return n % 2 == 0
def square(n):
    return n * n
nums = [1, 2, 3, 4, 5]
result = apply_if(square, is_even, nums)
print(result)

[1, 4, 3, 16, 5]

In [8]:
#26.Write a function curry(func) that converts a two-argument function into a curried version → can be called as f(a)(b).
def curry(func):
    def curried_function(a):
        def inner_function(b):
            return func(a, b)
        return inner_function
    return curried_function
def add(a, b):
    return a + b

curried_add = curry(add)

# Using the curried version
result = curried_add(5)(3)
print(result)

8

In [2]:
#27.Write a function variadic_sum(*args, **kwargs) that sums all positional arguments and multiplies by a scale factor if provided.
def variadic_sum(*args, **kwargs):
    total = sum(args)
    scale = kwargs.get('scale', 1)
    return total * scale
print(variadic_sum(1, 2, 3))
print(variadic_sum(1, 2, 3, scale=2))
print(variadic_sum(5, 5, 5, scale=0.5))
print(variadic_sum())

6
12
7.5
0

In [3]:
#28.Write a function sort_by_length(strings) that sorts a list of strings by their length using a lambda as key.
def sort_by_length(strings):
    return sorted(strings, key=lambda s: len(s))
words = ["apple", "kiwi", "banana", "fig", "cherry"]
result = sort_by_length(words)
print(result)

['fig', 'kiwi', 'apple', 'banana', 'cherry']

In [7]:
students = [{'name':'A','score':80}, {'name':'B','score':60}]
high_scorers = [student['name'] for student in students if student ['score']>=75 ]
print(high_scorers)

['A']

In [10]:
squares = [{'n': n, 'square': n * n} for n in range(1, 11)]
print(squares)

[{'n': 1, 'square': 1}, {'n': 2, 'square': 4}, {'n': 3, 'square': 9}, {'n': 4, 'square': 16}, {'n': 5, 'square': 25}, {'n': 6, 'square': 36}, {'n': 7, 'square': 49}, {'n': 8, 'square': 64}, {'n': 9, 'square': 81}, {'n': 10, 'square': 100}]

In [12]:
list1 = [1, 0, 3, '', 5]
list2 = [2, 4, None, 8, 10]
def merge_truthy(list1, list2):
    return [(a, b) for a, b in zip(list1, list2) if a and b]
print(merge_truthy(list1,list2))

[(1, 2), (5, 10)]

In [14]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
    ]
transpose = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [19]:
nested_list = [[[1,2],[3]],[[4]]]
flattened = [x for sublist in nested_list for sublist1 in sublist for x in sublist1]
print(flattened)

[1, 2, 3, 4]

In [6]:
lst = [1,2,2,3,1,4,3,5]
seen = set()
unique_num = []
for x in lst:
    if x not in seen:
        unique_num.append(x)
        seen.add(x)
print(unique_num)

[1, 2, 3, 4, 5]

In [8]:
#45.Find all indices (positions) where a given number appears in a list.
lst = [1, 2, 3, 2, 4]
number = int(input("Enter the number: "))
indices = [i for i, x in enumerate(lst) if x == number]
print(indices)

Enter the number: 1
[0]

In [9]:
#46.Generate all palindromic numbers (as strings) between 1 and 999.
palindromes=[str(n) for n in range(1, 1000) if str(n) == str(n)[::-1]]
print(palindromes)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '11', '22', '33', '44', '55', '66', '77', '88', '99', '101', '111', '121', '131', '141', '151', '161', '171', '181', '191', '202', '212', '222', '232', '242', '252', '262', '272', '282', '292', '303', '313', '323', '333', '343', '353', '363', '373', '383', '393', '404', '414', '424', '434', '444', '454', '464', '474', '484', '494', '505', '515', '525', '535', '545', '555', '565', '575', '585', '595', '606', '616', '626', '636', '646', '656', '666', '676', '686', '696', '707', '717', '727', '737', '747', '757', '767', '777', '787', '797', '808', '818', '828', '838', '848', '858', '868', '878', '888', '898', '909', '919', '929', '939', '949', '959', '969', '979', '989', '999']

In [10]:
#47.Convert a dictionary like {'a':[1,2], 'b':[3]} into a list of (key, value) pairs.
d={'a':1,'b':3}
pairs=[(k,v) for k,v in d.items()]
print(pairs)

[('a', 1), ('b', 3)]

In [11]:
#48.Create a list of prime pairs (p, q) where both are primes under 100 and p + q is also prime.
# Function to check if a number is prime
def is_prime(n):
  if n<2:
    return False
  for i in range(2,int(n**0.5)+1):
    if n%i==0:
      return False
  return True

primes = []
for num in range(2,100):
  if is_prime(num):
    primes.append(num)

prime_pairs = []
for p in primes:
  for q in primes:
    if p<=q and is_prime(p+q):
      prime_pairs.append((p,q))

print(prime_pairs)

[(2, 3), (2, 5), (2, 11), (2, 17), (2, 29), (2, 41), (2, 59), (2, 71)]

In [12]:
#49.Create a lower-triangular matrix (n×n) with 1s below and on the diagonal, 0s above.
n = 10
lower_triangular=[[1 if j<=i else 0 for j in range(n)] for i in range(n)]
for row in lower_triangular:
  print(row)

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [13]:
#50.Generate all possible sequences of length 4 from 'abcd' with no repeated letters.
letters='abcd'
sequences=[]
for a in letters:
  for b in letters:
    if b != a:
      for c in letters:
        if c != a and c != b:
          for d in letters:
            if d != a and d != b and d != c:
              sequences.append(a + b + c + d)
print(sequences)

['abcd', 'abdc', 'acbd', 'acdb', 'adbc', 'adcb', 'bacd', 'badc', 'bcad', 'bcda', 'bdac', 'bdca', 'cabd', 'cadb', 'cbad', 'cbda', 'cdab', 'cdba', 'dabc', 'dacb', 'dbac', 'dbca', 'dcab', 'dcba']